name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Asilbek2706
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tashkent
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
