name: Generate Stats File

on:
  schedule:
    - cron: '0 0 * * *' # Har kuni yarim tunda
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python generate_stats.py

      - name: Update README Section
        run: |
          STATS=$(cat STATS.md)
          sed -i "//,//c\\n$STATS\n" README.md

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md STATS.md
          git commit -m "docs: update dynamic statistics" || exit 0
          git push
